/*Navbar*/
nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
}

.tela {
  display: none;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.tela.ativa {
  display: block;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#cadastroEventos {
  display: flex;
  margin: auto;
  flex-direction: column;
}
